.articlePattern{
    display: flex;
    .articleContent{
        font-family: $ub;
        .title{
            text-transform: capitalize;
            font-weight: bold;
            font-size: 2em;
        }
        .articleImg{
            width: calc(100% - 20px);
            margin: 20px 0;
            img{
                width: 100%;
            }
        }
        .content{
            width: calc(100% - 20px);
            line-height: 20px;
            text-align: justify;
            h2{
                font-size: 1.5em;
                font-weight: bold;
                padding-bottom: 25px;
            }
            h3{
                font-size: 1.3em;
                font-weight: bold;
                padding-bottom: 25px;
            }
            p{
                display: block;
                padding-bottom: 15px;
                strong{
                    font-weight: bold;
                }
            }
        }

        .publishData{
            margin: 20px 0;
        }
    }
}