.editorWrap{
    width: calc(100% - 20px);
    .editorInput{
        padding: 0 20px;
        border: 1px solid rgb(230, 230, 230);
        min-height: 300px;
    }
    .articleAtributes{
        display: flex;
        justify-content: space-around;
        height: 50px;
        align-items: flex-start;
        input[name='title']{
            width: 80%;
            border: 1px solid rgb(231, 231, 231);
            height: 30px;
            padding: 0 10px;
            font-size: 1.2em;
        }
        select{
            width: 20%;
            height: 30px;
            border: none;
            background-color: #fff;
            border-top: 1px solid rgb(233, 233, 233);
            border-bottom: 1px solid rgb(233, 233, 233);
            text-transform: uppercase;
        }
    }
    .submitParams{
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-around;
        input{
            border: none;
            width: 150px;
            height: 30px;
            background-color: rgb(238, 238, 238);
            cursor: pointer;
        }
    }
}