.searchWrap{
    display: flex;
    position: relative;
    label{
        position: relative;
        input[name='searchparams']{
            width: 100%;
            min-width: 320px;
            border: none;
            border: 1px solid $greyColor;
            height: 30px;
            font-family: $ub;
            padding: 0 25px 0 8px;
            border-radius: 5px;
            @media (max-width: $media1340){
                min-width: 270px;
            }
        }
        input[name='searchinput']{
            background-color: rgb(201, 96, 96);
            border: none;
            width: 25px;
            height: 25px;
        }
    }
    .fa-search{
        position: absolute;
        top: 7px;
        right: 5px;
        z-index: 1;
    }
    .searchResults{
        position: absolute;
        min-width: 320px;
        width: 100%;
        top: 30px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 5;
        @media (max-width: $media1340){
            min-width: 270px;
        }
        .tag{
            display: flex;
            border-radius: 5px;
            background-color: rgb(255, 255, 251);
            &:hover{
                background-color: rgb(241, 241, 241);
                cursor: pointer;
            }

            .imgBlock{
                min-width: 100px;
                // background-color: rgb(161, 225, 245);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 5px;
                img{
                    max-width: 90px;
                    width: 100%;
                }
            }
            .content{
                font-family: $ub;
                padding: 5px;
                min-height: 70px;
                p{
                    padding-bottom: 3px;
                    font-weight: bold;
                    transition: all .3s;
                    font-size: .9em;
                    line-height: 18px;
                }
                span{
                    font-size: .8em;
                    display: block;
                    width: 210px;
                    overflow: hidden;
                    max-height: 37px;
                    line-height: 18px;
                    @media (max-width: $media1340){
                        min-width: 170px;
                    }
                }
            }
        }
        
        }
}

.spinner{
    @keyframes spinner {
        to {transform: rotate(360deg);}
      }  
      &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 5px;
        top: 5px;
        border-top: 3px solid rgb(86, 176, 255);
        border-right: 3px solid transparent;
        animation: spinner 1s linear infinite;
        z-index: 1;
      }
}

.subscribe{
    .title{
        font-family: $ub;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 1.5em;
            font-weight: bold;
            height: 70px;
        }
        span{
            display: block;
            width: 50%;
            margin-top: -20px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            input{
                width: 100%;
                border: none;
                height: 30px;
            }
            input[name='subemail']{
                border: 1px solid $greyColor;
                border-radius: 5px;
                margin-bottom: 10px;
                font-family: $ub;
                padding-left: 5px;
            }
            input[name='subscribe']{
                background-color: $mainColor;
                border-radius: 5px;
                font-family: $ub;
                font-weight: bold;
                transition: all .4s;
                &:hover{
                    cursor: pointer;
                    color: white;
                }
            }
        }
        .errors{
            font-family: $ub;
            font-size: .8em;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
        }
    }
}