@font-face {
    font-family: "Ubuntu";
    src: url('../fonts/Ubuntu-Regular.ttf');
}

$ub: "Ubuntu";

$media1340: 1340px;
$media875: 875px;
$media767: 767px;


$mainColor: rgb(131, 226, 255);
$greyColor: rgb(219, 219, 219);