.indexWrap{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    @media (max-width: $media1340) {
        width: calc(100% - 20px);
    }
    @media (max-width: $media875) {
        flex-direction: column;
        align-items: center;
    }
    .indexContent{
        display: flex;
        flex-direction: column;
        width: calc(100% - 320px);
        @media (max-width: $media875) {
            width: 100%;
        }
    }
    .contentWrap{
        width: calc(100% - 20px);
        @media (max-width: $media920) {
            width: 100%;
        }
        .selfArticle{
            width: 100%;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            font-family: $ub;
            @media (max-width: $media767) {
                padding: 0;
            }
            .articleWrap{
                width: calc(50% - 10px);
                @media (max-width: $media920) {
                    width: calc(100% - 20px);
                }
                @media (max-width: $media875) {
                    width: 100%;
                }
                .image{
                    img{
                        width: 100%;
                    }
                }
                .descript{
                    h2{
                        font-size: 2em;
                        margin: 10px 0;
                        font-weight: bold;
                        letter-spacing: 1px;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                    }
                    .misk{
                        display: flex;
                        margin-bottom: 10px;
                        time{
                            width: 140px;
                        }
                        p{
                            width: 150px;
                        }
                        span{
                            &::first-letter{
                                text-transform: uppercase;
                            }
                        }
                    }
                    h5{
                        line-height: 20px;
                    }
                    .read{
                        display: flex;
                        align-items: center;
                        height: 50px;
                        margin-bottom: 30px;
                        p{
                            width: 100px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $mainColor;
                            border-radius: 5px;
                            cursor: pointer;
                            a{
                                transition: all .4s;
                                &:hover{
                                    color: white;
                                }
                            }
                        }
                        ul{
                            display: flex;
                            width: 100px;
                            justify-content: space-evenly;
                            li{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
    .different{
        max-width: 320px;
        width: 100%;
        padding-top: 30px;
        @media (max-width: $media875) {
            max-width: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: unset;
            width: calc(100% - 20px);
        }
        
    }
}